html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img
{
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}
header
{
  background-color: black;
  height: 50px;
  width: 100%;
  padding-left: 0px;
}
#shop
{
  background-image: url("../images/backgroundMan.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	-moz-box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
	box-shadow:
		inset #19d4ff 0 0 0 5px,
		inset #18cdf7 0 0 0 1px,
		inset #53dfff 0 0 0 10px,
		inset #50d8f7 0 0 0 11px,
		inset #8ce9ff 0 0 0 16px,
		inset #88e2f7 0 0 0 17px,
		inset #c5f4ff 0 0 0 22px,
		inset #bfecf7 0 0 0 23px;
}
h3
{
  margin: 5px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: white;
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}
}
#Righttoplist
{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  background-color: black;
  font-weight: bold;
}
#Lefttoplist
{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  background-color: black;
  font-weight: bold;
}
#HomeLink
{
  padding-top: 8px;
  text-decoration: none;
  list-style-type: none;
  float: left;
  padding-left: 100px;
  color: blue;
  font-size: 30px;
}
.list1{display: inline;}
.list2{display: inline;}
.list3{display: inline;}
a:hover {position: relative;}
.list1 a
{
  display: inline;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.list2 a
{
  display: inline;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.list3 a
{
  padding-top: 15px;
  display: inline;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#leftNav
{
  display: inline-block;
  width: 400px;
  float: left;
}
#rightNav
{
  display: inline-block;
  width: 500px;
  float: right;
  margin-right: 0;
  padding-right: 0;
}
.thumbnails img {
  overflow: hidden;
  height: 80px;
  width: 130px;
  border: 4px solid #555;
  padding: 1px;
  margin: 0 10px 10px 0;
}
#oculusParagraph p{color: white;}
#leftColumn
{
  padding-left: 25px;
  overflow: auto;
  position: relative;
  width: 400px;
  float: left;
}
footer
{
    display: block;
    padding-top: 15px;
    text-align: center;
    font-size: 0.95em;
    font-style: italic;
    bottom:0;
    width: 100%;
    height: 40px;
    background-color: black;
    overflow: auto;
}
#footerNav
{
  display: inline-block;
  float: left;
  width: 500px;
}
#footerList
{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  background-color: black;
  font-weight: bold;
}
.button {
  margin: 10px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
